/* GENERAL SETTINGS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
strong,
a,
li,
span,
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

html {
  min-height: 100vh;
  background-color: rgb(49, 49, 49);
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  width: 100%;
}

.green {
  color: rgb(0, 184, 0);
}

/* APP CONTENT */

.screen {
  padding: 80px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  background: rgb(101, 161, 210);
  background: radial-gradient(
    circle,
    rgba(101, 161, 210, 1) 0%,
    rgba(134, 118, 210, 1) 53%,
    rgba(133, 158, 187, 1) 100%
  );
  position: relative;
}

.mic-off {
  color: rgb(255, 82, 82);
}

.user {
  position: relative;
}

.user img {
  border-radius: 4px;
}

.user-box {
  position: absolute;
  bottom: 15px;
  left: 10px;
  background-color: rgba(187, 187, 187, 0.26);
  display: flex;
  gap: 10px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}

.user-name {
  font-weight: bold;
}

.big-size {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: rgba(187, 187, 187, 0.26);
  color: white;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}

.change-speaker-view {
  position: absolute;
  right: 60px;
  display: flex;
  gap: 10px;
  top: 5px;
  background-color: rgba(187, 187, 187, 0.26);
  color: white;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}

.icon-wrapper {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TOOLBAR */

#toolbar {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(49, 49, 49);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: white;
  overflow: hidden;
}

.section-device {
  display: flex;
  gap: 10px;
  padding: 5px 20px;
  cursor: pointer;
}

.section-device > img {
  width: 10px;
  height: 10px;
  transform: rotate(0.5turn) translateY(-10px);
}

#translate-left {
  transform: rotate(0.5turn) translate(22px, -10px);
}

.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  align-content: center;
}

.device-control {
  display: flex;
  align-items: center;
  gap: 5px;
}

.toolbar-container {
  justify-content: space-between;
  display: flex;
}

.main-functions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btn-end-meeting {
  background-color: rgb(86, 88, 105);
  color: white;
  font-weight: bold;
  border: 0px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: 500ms all;
}

.btn-end-meeting:hover {
  background-color: rgb(48, 54, 94);
}
